.flags {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.flags ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btncontainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
