.flag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.flag h3 {
}

.difficulty {
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

form label {
  padding-bottom: 0.2rem;
}

form input {
  padding: 5px;
  width: 6rem;
  height: 3rem;
  text-align: center;
}
